@{ ViewData["Title"] = "Privacy Policy"; }

<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            Use this page to detail your site's privacy policy.
        </li>
    </ol>
</div>
